.sider {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    background-color: #fff;
    border-right: 2px solid #e4e4e460;
    transition: all 0.3s ease;
}

.sider-open {
    width: 65px;
}

.sider-closed {
    width: 220px;
}

.sider-arrow {
    position: absolute;
    top: 12px;
    right: -20px;
}

.sider-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 20px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

.sider-link-active {
    color: var(--x-light);
    background-color: var(--secondary);
}

.content {
    width: 100%;
    min-height: 100dvh;
    background-color: #f5feffbd;
    transition: margin-left 0.3s ease;
}

@media screen and (max-width: 549px) {
    .sider-open {
        width: 50px;
    }

    .sider-arrow {
        padding: 8px;
        top: 12px;
        right: -16px;
    }
}